CHATADMIN_ENV=development

# host must be 0.0.0.0 instead of localhost if running in Docker container
CHATADMIN_HOST=0.0.0.0
CHATADMIN_PORT=11112
CHATADMIN_BASE_URL=
CHATADMIN_LOG_DIR=
CHATADMIN_LOG_LEVEL=
CHATADMIN_LOG_TYPE=all
CHATADMIN_SECRET=secret

CHATADMIN_DB_HOST=0.0.0.0
CHATADMIN_DB_PORT=27017
CHATADMIN_DB_USERNAME=admin
CHATADMIN_DB_PASSWORD=adminAtTest
CHATADMIN_DB_NAME=test
CHATADMIN_DB_AUTH_SOURCE=

CHATADMIN_REDIS_HOST=
CHATADMIN_REDIS_PORT=
CHATADMIN_REDIS_PASSWORD=
